RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Security
Options -Indexes
<FilesMatch "\.(sql|md)$">
    Order allow,deny
    Deny from all
</FilesMatch>
